dialog {
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, .2);
    max-width: 500px;
    width: 90%;
    padding: 0;
    background: #fff;
    animation: dialog-in .3s cubic-bezier(.4, 0, .2, 1);
}

@keyframes dialog-in {
    from {
        transform: translateY(-30px) scale(.95);
        opacity: 0;
    }

    to {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
}

dialog .card {
    padding: 1rem;
    margin: 0 auto;
}