#subtab-AdminWarehouses {
    display: none;
}

#subtab-AdminParentStockManagement {
    display: none;
}

.box-danger {
    background-color: var(--danger) !important;
    color: var(--light) !important;
    border: 1px solid var(--dark);
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}