.user-select {
    user-select: all;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.dt-empty:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.6rem;
}

.dt-empty:before {
    font-family: 'Material Icons';
    content: 'report_problem';
    font-size: 1.3rem;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 2px 3px 2px 3px;
    margin-right: 0.7rem;
    background: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.dt-empty {
    width: 100%;
    border: 1px solid #dcdcdc;
    padding: 1rem;
    background-color: var(--warning);
    color: var(--light);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15), 0 1.5px 4px rgba(0, 0, 0, 0.10);
}

:is(body:not(.ps-bo-rebrand)):is(body:not(.no-smb-reskin)) .table tbody>tr:not(.fees):not(.fees_all):not(.range_sup):not(.range_inf):hover>td {
    background-color: #f1e978 !important;
    color: #303030 !important;
}

.select2-container--open {
    z-index: 9999999
}

dialog {
    border: 1px solid #dcdcdc;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15), 0 1.5px 4px rgba(0, 0, 0, 0.10);
    padding: 1rem;
    min-width: 600px;
    max-width: 100%;
    background-color: #fcfcfc;
    overflow: visible;
    animation: dialog-in .3s cubic-bezier(.4, 0, .2, 1);
}

@keyframes dialog-in {
    from {
        transform: translateY(-30px) scale(.95);
        opacity: 0;
    }

    to {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
}

dialog .card {
    padding: 1rem;
    margin: 0 auto;
}

.gap-1 {
    gap: 0.5rem;
}

.gap-2 {
    gap: 1rem;
}

.gap-3 {
    gap: 1.5rem;
}

.gap-4 {
    gap: 2rem;
}

.grow-1 {
    flex: 1;
}

.bootstrap.dialog {
    width: 80%;
    max-width: 800px;
    height: 80%;
    max-height: 800px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;
}

/* Imposta z-index al dropdown select2 */
.bootstrap.dialog .select2-dropdown {
    z-index: 999999;
}

.fixed-width-sm {
    width: 100px;
}

.fixed-width-md {
    width: 150px;
}

.fixed-width-lg {
    width: 200px;
}

.fixed-width-xl {
    width: 250px;
}

.fixed-width-xxl {
    width: 300px;
}

.badge-sm {
    font-size: 0.1rem;
    border-radius: 50% !important;
}

.badge-lg {
    font-size: 1.2rem;
    border-radius: 50% !important;
}

.badge-square {
    border-radius: 0 !important;
}